.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "label"
    "input"
    "submit";
}

.label {
  grid-area: label;
  font-size: 1.2rem;
}

.input {
  grid-area: input;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.submit {
  grid-area: submit;
  font-size: 1.2rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "label label label"
      "input input submit";
  }
}
